<% include ./partials/header %>
<div class="ui middle aligned center aligned container segment">
    <div class="ui huge header">EDIT FILM <%=blog.name%></div>
<form class="ui form" action="/blogs/<%=blog._id%>?_method=PUT" method="post">
    <div class="field">
     <label>Name of the Film:</label>
     <input type="text" name="blog[name]" value="<%=blog.name%>">
    </div>
<div class="ui labeled field">
  <div class="ui label">
    http://
  </div>
  <label>Image:</label>
  <input type="text" name="blog[image]" value="<%=blog.image%>">
</div>

<div class="field">
   <label>Review</label>
  <textarea name="blog[body]"><%=blog.body%></textarea>
</div>
<div class="field">
  <input type="submit" class="ui button">
</div>
</form>
</div>
<% include ./partials/footer %>